{%extends 'academy/base.html'%}

{% block title %}
{{ title }}
{% endblock %}

{% block content%}
<h1> Lecturers  </h1>

{% for lecturer in lecturers %}
<li>
    <a href="{% url 'lecturer' lecturer_id=lecturer.lecturer_id %}">
        {{ lecturer.last_name}}  {{lecturer.first_name }}
    </a>
</li>
{% endfor %}

{% if user.is_superuser %}
 <a class="btn btn-outline-success my-2 my-sm-0" href="{%url 'create_lecturer'%}">Create Lecturer</a>
{%endif%}
{% if lecturers.paginator.num_pages != 1 %}
  {% include "academy/pagination.html" with page=lecturers %}
{% endif %}

{% endblock %}