{%extends 'academy/base.html'%}
{% block title %}
{{ title }}
{% endblock %}

{% block content%}
<h1> Список студентов  </h1>

{% for student in students %}
<li>
    <a href="{% url 'student' student_id=student.student_id %}">
        {{ student.last_name}}  {{student.first_name }}
    </a>
</li>
{% endfor %}
{% if user.is_superuser %}
  <a class="btn btn-outline-success my-2 my-sm-0" href="{%url 'create_student'%}">Create Student</a>
{%endif%}


{% if students.paginator.num_pages != 1 %}
   {% include "academy/pagination.html" with page=students %}
{% endif %}



{% endblock %}